{{!-- This is the handlebar for the answer choice screen. --}}

<div class="container">
    <div class="jumbotron text-center" id="question-jumbotron">
        <h1 class="display-6" id="gameTitle">KEBÄB</h1>
        <p id="tagline">Pick the correct answer from the options below... choose carefully!</p>
        <hr class="my-4">
        <h1 id="userQuestion">{{questions}}</h1><br>
        <div class="container" id="answerGroup">
            <a class="waves-effect waves-light btn-large answerButton" id="buttonOne"
                href="/roundResults">{{userAnswer}}</a>
            <a class="waves-effect waves-light btn-large answerButton" id="buttonTwo"
                href="/roundResults">{{userAnswer}}</a>
            <a class="waves-effect waves-light btn-large answerButton" id="buttonThree"
                href="/roundResults">{{userAnswer}}</a>
            <a class="waves-effect waves-light btn-large answerButton" id="buttonFour"
                href="/roundResults">{{userAnswer}}</a>
            <a class="waves-effect waves-light btn-large answerButton" id="buttonFive"
                href="/roundResults">{{userAnswer}}</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var API = {
            // Get question and answer
            getTrivia: function (id) {
                return $.ajax({
                    url: "api/Trivia/" + id,
                    type: "GET"
                })
            },
            getUser: function (id) {
                return $.ajax({
                    url: "api/user",
                    type: "GET"
                })
            }
        }
        $("#buttonOne").click(function (event) {
            event.preventDefault();
            console.log($("#buttonOne").text());
            var userScore = 0;
            for (var i = 1; i < 5; i++) {
                API.getTrivia(i).then(function (triviaData) {
                    console.log("data", triviaData.triviaAnswer);

                    if ($("#buttonOne").text().toLowerCase() === triviaData.triviaAnswer.toLowerCase()) {
                        console.log("trivia");
                        userScore += 10;
                    }
                    console.log("score", userScore);
                })

            }
            
            $(this).trigger("click")

        })
    })
</script>